<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DLab Systems</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/waves.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/morris.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/theme-teal.css" rel="stylesheet">
    <link href="~/css/toastr.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-material-datetimepicker.css" rel="stylesheet">

    <link href="~/css/bootstrap-datepicker.css">

    <link href="~/css/waitMe.css" rel="stylesheet">

    <link href="~/css/select2.min.css" rel="stylesheet">
    <link href="~/css/vue-multiselect.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppLogin.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="bars" style="display: none;"></a>
                    <a class="navbar-brand" href="index.html" title=""><img class="img-fluid" src="~/img/logo.png" alt=" logo" style="height: 40px;"></a>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - M.G.H System
        </div>
    </footer>

    <!-- Jquery Core Js -->
    <script async="" src="~/js/analytics.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/js/bootstrap.js"></script>


    <script src="~/js/moment.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/js/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/js/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="~/js/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/js/raphael.min.js"></script>
    <script src="~/js/morris.js"></script>

    <!-- ChartJs -->
    <script src="~/js/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="~/js/jquery.flot.js"></script>
    <script src="~/js/jquery.flot.resize.js"></script>
    <script src="~/js/jquery.flot.pie.js"></script>
    <script src="~/js/jquery.flot.categories.js"></script>
    <script src="~/js/jquery.flot.time.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="~/js/jquery.sparkline.js"></script>

    <!-- Custom Js -->
    <script src="~/js/admin.js"></script>
    <script src="~/js/index.js"></script>

    <!-- Demo Js -->
    <script src="~/js/demo.js"></script>
    <!--      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> -->
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/js/bootstrap-material-datetimepicker.js"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="~/js/bootstrap-datepicker.js"></script>

    <script src="~/js/basic-form-elements.js"></script>
    <script src="~/js/admin.js"></script>
    <script src="~/js/select2.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script type="text/javascript">
        var base_url = "http://localhost:5275/";
    </script>

    <script type="text/javascript">
        function loaded() {
            var segment3 = '';
            var current_url = base_url + segment3;
            $('a[href="' + current_url + '"]').parents('.ml-menu').siblings('a').addClass('toggled');
            $('a[href="' + current_url + '"]').parents('.ml-menu').css('display', 'block');
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Mounth', 'Pacientes', 'Ganancias S/'],
                ['Junio', 50, 120],
                ['Julio', 80, 230],
                ['Agosto', 150, 350],
                ['Septiembre', 210, 950]
            ]);

            var options = {
                title: 'Métricas (Ultimos 4 meses)',
                hAxis: { title: 'Meses', titleTextStyle: { color: '#333' } },
                vAxis: { minValue: 0 }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript" src="~/js/dashboard.js"></script>



    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

